<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>

<body>
    <%- include("./header") %>
    <%- include("./sidebar") %>

    <div id="content" style="padding: 20px;">
    <p>Pet Submission has been sent!</p>
    </div>

    <%- include("./footer") %>

</body>

</html>