<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <%- include('header') %>
    <%- include("./sidebar") %>

    <div id="content" style="padding: 40px;">
        <h3>Website constructed by Aasiya Qadri</h3>
        &nbsp;Student ID: 40263011<br>
        &nbsp;Email: qadri.aasiya@hotmail.com
    </div>

    <%- include('footer') %>
</body>

</html>
