<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <%- include('header') %>

    <div id="sidebar">
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="pets.html">BROWSE AVAILABLE PETS</a></li>
            <li><a href="findpet.html">FIND A CAT/DOG</a></li>
            <li><a href="dogcare.html">DOG CARE</a></li>
            <li><a href="catcare.html">CAT CARE</a></li>
            <li><a href="giveaway.html">HAVE A PET TO GIVE AWAY</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
        </ul>
    </div>

    <div id="content" style="padding: 40px;">
        <h3>Website constructed by Aasiya Qadri</h3>
        &nbsp;Student ID: 40263011<br>
        &nbsp;Email: qadri.aasiya@hotmail.com
    </div>

    <%- include('footer') %>
</body>

</html>
