<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<footer>
    <div id="footer">
        <a href="/privacy">Privacy/Disclamer Statement</a>
    </div>
</footer>
</html>