<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <%- include("./header") %>
    <%- include("./sidebar") %>

    <div id=content style="padding: 40px;">
        <h3>Our Privacy/Disclaimer Statement</h3>At <i>Adopt-A-Furry-Friend</i>, we are fully committed to protecting
        your privacy and ensuring the security of your personal information. <br>We guarantee that your details will
        never be sold, shared, or misused in any way.<br>Our platform is designed to handle your information with the
        utmost care, adhering to strict privacy policies. <br>We also take steps to ensure that all content posted by
        pet owners is accurate and truthful, protecting both the community and the integrity of our site. <br>Your trust
        and privacy are our top priority, and we are dedicated to maintaining a secure and responsible environment for
        all users.
    </div>

    <%- include("./footer") %>

</body>

</html>