<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sidebar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

    <div id="sidebar">
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/findpet">FIND A CAT/DOG</a></li>
            <li><a href="/dogcare">DOG CARE</a></li>
            <li><a href="/catcare">CAT CARE</a></li>
            <li><a href="/register">CREATE AN ACCOUNT</a></li>
            <li><a href="/giveaway">HAVE A PET TO GIVE AWAY</a></li>
            <li><a href="/logout">LOG OUT</a></li>
            <li><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
</html>