body {
    background-color: #dbd0ea;
    box-shadow: -10px 0px 0px 0px #F1EFEF;
}

* {
    box-sizing: border-box;
}

#content h1 {
    font-size: 50pt;
}

#footer,
#header {
    width: 100%;
    font-weight: bold;
    background-color: #735DA5;
    text-align: center;
    color: white;
}

#header {
    top: 0;
    left: 0;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1.2;
    padding-top: 17px;
}

#header a im {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#footer {
    padding-bottom: 7px;
    padding-top: 7px;
    height: 30px;
    bottom: 0;
    left: 0;
    position: fixed;
}

#footer a {
    text-decoration: none;
    color: white;
}

#sidebar {
    float: left;
    box-shadow: -10px 0px 0px 0px #dbd0ea;
    height: calc(100vh - 70px);
}

#sidebar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    border-top: 0.5px dotted white;
    color: #735DA5;
}

#sidebar ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    width: 220px;
    font-size: 11pt;
}

#dateNow {
    color: lightgrey;
    font-size: 10px;
    position: absolute;
    top: 48px;
    right: 10px;
}

li a:hover:not(.active) {
    background-color: #F1EFEF;
    box-shadow: -10px 0px 0px 0px #F1EFEF;
}

li a:hover.active {
    background-color: #F1EFEF;
    box-shadow: -10px 0px 0px 0px #F1EFEF;
}

#content {
    padding: 20px;
    padding-bottom: 50px;
    overflow-y: auto;
    background-color: #F1EFEF;
    margin-top: 65px;
    box-shadow: 10px 0px 0px 0px #F1EFEF;
    height: calc(100vh - 70px);
}

table {
    width: 100%;
    box-shadow: 0px 0px 0px -10px #F1EFEF;
}

table,
th,
td {
    border-top: 0.5px solid lightgrey;
    border-collapse: collapse;
}

table img {
    float: left;
    width: 40%;
    margin-right: 5%;
}

table td {
    padding: 2.5%;
    text-align: left;
}


td:hover {
    border: solid 5px #dbd0ea;
}

#instructions li {
    margin-bottom: 10px;
}

#instructions strong {
    font-size: 18px;
}

#instructions ul {
    list-style-type: none;
    margin: 20px 0px;
    padding: 0;
}

#instructions {
    margin-left: 5%;
    margin-right: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 100%;
    justify-content: center;
}

.grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#content table span {
    font-size: 10pt;
}

@media screen and (max-width: 1100px) {
    #content h1 {
        font-size: 30pt;
    }
}

@media screen and (max-width: 800px) {
    #content table {
        font-size: 10pt;
    }
    #content table span {
        font-size: 9.5pt;
    }

}

@media screen and (max-width: 700px) {

    li a:hover:not(.active) {
        background-color: #F1EFEF;
        box-shadow: 0px 0px 0px 0px #F1EFEF;
    }

    li a:hover.active {
        background-color: #F1EFEF;
        box-shadow: 0px 0px 0px 0px #F1EFEF;
    }

    #sidebar {
        margin-top: 70px;
        width: 100%;
        float: none;
        height: auto;

    }

    #sidebar ul {
        display: block;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    #sidebar li {
        display: block;
    }

    table {
        padding: 0px;
        margin-top: 10px;
        width: 100%;

    }

    #content {
        margin-bottom: 50px;
        padding: 0px;
        height: auto;
        margin-top: 0px;
        box-shadow: 0px 10px 0px 10px #F1EFEF;
    }
}

@media screen and (max-width: 350px) {
    #header {
        font-size: 18px;
    }

    #content h1 {
        font-size: 20pt;
    }

    table,
    tr,
    td {
        display: block;
    }

    td {
        border-bottom: 1px solid lightgrey;
    }

    #content img {
        width: 100%;
        height: auto;
    }

    td:hover {
        border: none;
    }

}

@media screen and (max-width: 260px) {
    #header {
        font-size: 16px;
    }
}